<nav id="sidebar" class="navbar bg-body-tertiary vh-100 flex-column justify-content-start">
  <div class="container-fluid justify-content-center p-1">
    <a class="navbar-brand h1 fw-bold text-success mb-3" routerLink="/dashboard">
      Inventrix
    </a>
  </div>
  <ul class="nav flex-column w-100 px-3">
    <li class="nav-item"  [appHideIfClaimsNotMet]="claimReq.isAdmin">
      <a class="nav-link" routerLink="/employee">Employee</a>
    </li>
    <li class="nav-item"  [appHideIfClaimsNotMet]="claimReq.isCEO">
      <a class="nav-link" routerLink="/employeeleave">Leave</a>
    </li> 
  </ul>

   
</nav>
<div id="main">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid px-5 py-1">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="d-flex align-items-center">
          <span class="me-2 uppercase-bold">
            <i class="bi bi-person-circle"></i> <!-- Bootstrap icon for user -->
            {{ userName }}
          </span>
          <button class="btn btn-dark" (click)="onLogout()">Logout</button>
        </div>

      <!-- <button class="btn btn-dark" (click)="onLogout()">Logout</button> -->
    </div>
  </nav>
  <div class="mt-5 p-5">
      {{ userName }}
    <router-outlet />
  </div>
</div>