/* Add any additional styles for the admin layout here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .admin-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .admin-layout main {
    flex: 1;
    overflow-y: auto;
  }

  
  .admin-main {
    transition: margin-left 0.3s;
    margin-left: 250px; /* Default width of the sidebar */
  }

  .admin-main.collapsed {
    margin-left: 30px; /* Width of the collapsed sidebar */
  }
