<div class="sidebar-section">
  <aside class="sidebar" [class.collapsed]="isSidebarCollapsed" >
    <!-- <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a  class="sidebar-nav-link">
          <i class="bi bi-house-fill sidebar-nav-icon"></i>
          <span class="sidebar-nav-text">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-nav-item has-submenu" [class.active]="isSubMenuOpen('menu-1')">
        <a  class="sidebar-nav-link" (click)="toggleSubMenu('menu-1')">
          <i class="bi bi-menu-down sidebar-nav-icon"></i>
          <span class="sidebar-nav-text">Menu 1</span>
          <i class="bi bi-chevron-down sidebar-nav-submenu-indicator"></i>
        </a>
        <ul class="sidebar-nav-submenu"  >
          <li class="sidebar-nav-item">
            <a  class="sidebar-nav-link">
              <span class="sidebar-nav-text">Sub-item 1.1</span>
            </a>
          </li>
          <li class="sidebar-nav-item">
            <a  class="sidebar-nav-link">
              <span class="sidebar-nav-text">Sub-item 1.2</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="sidebar-nav-item">
        <a  class="sidebar-nav-link">
          <i class="bi bi-gear-fill sidebar-nav-icon"></i>
          <span class="sidebar-nav-text">Settings</span>
        </a>
      </li>
    </ul> -->
  
  
  
    <ul class="sidebar-nav">
      <li *ngFor="let item of menuItems" class="sidebar-nav-item" [class.has-submenu]="item.submenu">
        <a class="sidebar-nav-link"
           [routerLink]="item.route"   
           (click)="item.submenu ? toggleSubMenu(item.id) :  collapseAllSubmenus()"
           [class.active]="isMenuItemActiveByRoute(item)  && item.route">
          <i class="sidebar-nav-icon" [class]="item.icon"></i>
          <span class="sidebar-nav-text">{{ item.label }}</span>
          <i *ngIf="item.submenu"  class="sidebar-nav-submenu-indicator"
          [ngClass]="{'bi-chevron-down': !isSubmenuToggledOpen(item.id), 'bi-chevron-up': isSubmenuToggledOpen(item.id)}"
          >


          </i>
        </a>
        <ul class="sidebar-nav-submenu" *ngIf="isSubmenuToggledOpen(item.id)" >
          <li *ngFor="let subItem of item.submenu" class="sidebar-nav-item">
            <a class="sidebar-nav-link" [routerLink]="subItem.route" 
            [class.active]="this.router.url === subItem.route"> 
              <span class="sidebar-nav-text">{{ subItem.label }}</span>
            </a>
          </li>
        </ul>
      </li>



    </ul>
  
  </aside>
</div>