<div class="mb-2">  <h2 class="text-muted" style="font-size: 1.1rem; margin-bottom: 0.2rem;">Welcome!</h2>
  <h3 class="text-dark" style="font-size: 1.0rem; margin-bottom: 0.2rem;">Let's Get You Setup</h3>
  <div style="font-size: 0.9rem;">
    Already have an account?
    <a
      routerLink="/signin"
      class="text-decoration-none fw-medium text-primary d-inlin-block"
      style="font-size: 0.9rem;"
      >Sign in</a
    >
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mb-1">  <div class="col-md-6">  <div class="mb-0">  <input
          class="form-control bg-body-secondary form-control-sm"
          placeholder="First Name"
          formControlName="firstname"
          style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
        />
        <div
          class="error-feedback"
          *ngIf="
            hasDisplayableError('firstname') &&
            form.controls.fullName.hasError('required')
          "
        >
          Please enter your first name.
        </div>
      </div>
    </div>
    <div class="col-md-6">  <div class="mb-1">  <input
          class="form-control bg-body-secondary form-control-sm"
          placeholder="Last Name"
          formControlName="lastname"
          style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
        />
        <div
          class="error-feedback"
          *ngIf="
            hasDisplayableError('lastname') &&
            form.controls.fullName.hasError('required')
          "
        >
          Please enter your last name.
        </div>
      </div>
    </div>
  </div>
  <div class="mb-1">  <ng-select
      id="country"
      [items]="countries"
      bindLabel="name"
      bindValue="id"
      placeholder="Select Country"
      formControlName="country"
      [clearable]="false"
      [searchable]="true"
      size="sm"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    >  </ng-select>
    <div
      *ngIf="form.get('country')?.invalid && form.get('country')?.touched"
      class="error-message"
    >
      Country is required.
    </div>
  </div>

  <div class="row mb-1">  <div class="col-md-6">  <ng-select
        id="state"
        [items]="filteredStates"
        bindLabel="name"
        bindValue="id"
        placeholder="Select State"
        formControlName="state"
        [loading]="loadingStates"
        [clearable]="true"
        [searchable]="true"
        [disabled]="!form.get('country')?.value"
        size="sm"
        style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
      >  </ng-select>
      <div
        *ngIf="form.get('state')?.invalid && form.get('state')?.touched"
        class="error-message"
      >
        State is required.
      </div>
    </div>
    <div class="col-md-6">  <ng-select
        id="city"
        [items]="filteredCities"
        bindLabel="name"
        bindValue="id"
        placeholder="Select City"
        formControlName="city"
        [loading]="loadingCities"
        [clearable]="true"
        [searchable]="true"
        [disabled]="!form.get('state')?.value"
        size="sm"
        style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
      >  </ng-select>
      <div
        *ngIf="form.get('city')?.invalid && form.get('city')?.touched"
        class="error-message"
      >
        City is required.
      </div>
    </div>
  </div>
  <div class="mb-1">  <ng-select
      id="subscriptionType"
      [items]="subscriptionTypes"
      bindLabel="name"
      bindValue="id"
      placeholder="Select Subscription Type"
      formControlName="subscriptionType"
      [clearable]="false"
      [searchable]="false"
      size="sm"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    >  </ng-select>
    <div
      *ngIf="form.get('subscriptionType')?.invalid && form.get('subscriptionType')?.touched"
      class="error-message"
    >
      Subscription Type is required.
    </div>
  </div>

  <div class="mb-1">
    <input
      class="form-control bg-body-secondary form-control-sm"
      placeholder="Business Name"
      formControlName="businessName"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('businessName') &&
        form.controls.fullName.hasError('required')
      "
    >
      Please enter your shop location.
    </div>
  </div>

  <div class="mb-1">
    <input
      class="form-control bg-body-secondary form-control-sm"
      placeholder="Shop Location"
      formControlName="fullName"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('fullName') &&
        form.controls.fullName.hasError('required')
      "
    >
      Please enter your shop location.
    </div>
  </div>
  <div class="mb-1">
    <input
      class="form-control bg-body-secondary form-control-sm"
      placeholder="Phone No"
      formControlName="phoneNo"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('phoneNo') &&
        form.controls.fullName.hasError('required')
      "
    >
      Please enter your Phone No.
    </div>
  </div>
  <div class="mb-1">
    <input
      class="form-control bg-body-secondary form-control-sm"
      placeholder="Email"
      formControlName="email"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    />
    <div class="error-feedback" *ngIf="hasDisplayableError('email')">
      <div *ngIf="form.controls.email.hasError('required')">
        Please enter your email address.
      </div>
      <div *ngIf="form.controls.email.hasError('email')">
        Please enter a valid email address.
      </div>
    </div>
  </div>
  <div class="mb-1">
    <input
      class="form-control bg-body-secondary form-control-sm"
      placeholder="Password"
      formControlName="password"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    />
    <div class="error-feedback" *ngIf="hasDisplayableError('password')">
      <ng-container [ngSwitch]="form.controls.password.errors | firstKey">
        <div *ngSwitchCase="'required'">Please enter your password.</div>
        <div *ngSwitchCase="'minlength'">Atleast 6 characters required.</div>
        <div *ngSwitchCase="'pattern'">One or more special character(s).</div>
      </ng-container>
    </div>
  </div>
  <div class="mb-1">
    <input
      class="form-control bg-body-secondary form-control-sm"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('confirmPassword') &&
        form.controls.confirmPassword.hasError('passwordMismatch')
      "
    >
      Passwords doesn't match.
    </div>
  </div>
  <div class="mb-1">
    <ng-select
      id="referenceBy"
      [items]="referenceByOptions"
      bindLabel="name"
      bindValue="id"
      placeholder="How did you hear about us?"
      formControlName="referenceBy"
      [clearable]="true"
      [searchable]="false"
      size="sm"
      style="padding-top: 0.05rem; padding-bottom: 0.05rem; font-size: 0.85rem; line-height: 1.2;"
    >
    </ng-select>
    <div
      *ngIf="form.get('referenceBy')?.invalid && form.get('referenceBy')?.touched"
      class="error-message"
    >
      Reference By is required.
    </div>
  </div>

  <div class="mt-1">
    <button type="submit" class="btn btn-success w-100 rounded-3 btn-sm" style="font-size: 0.9rem; padding-top: 0.2rem; padding-bottom: 0.2rem;">
      Register
    </button>
  </div>
</form>