<div class="d-flex">
    <div class="sidebar p-3">
        <h4 class="text-primary">Shop Name</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Sale</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Sale Return</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Purchase</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Expense</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Net Profit</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="top-bar">Dashboard - 26-01-2025</div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="card bg-primary text-white">Sale: 0</div>
            </div>
            <div class="col-md-3">
                <div class="card bg-success text-white">Sale Return: 0</div>
            </div>
            <div class="col-md-3">
                <div class="card bg-warning text-dark">Purchase: 0</div>
            </div>
            <div class="col-md-3">
                <div class="card bg-danger text-white">Expense: 0</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card">Total Balance: 0</div>
            </div>
            <div class="col-md-6">
                <div class="card">Net Profit: 0</div>
            </div>
        </div>
        <h5 class="mt-4">Profitable Products</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>T-shirt</td><td>89%</td></tr>
                <tr><td>Pant</td><td>70%</td></tr>
                <tr><td>Blazer</td><td>50%</td></tr>
            </tbody>
        </table>
    </div>
</div>